.main{
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.mainLink{
  color: purple;
  text-decoration: none;
  font-size: 80px;
  font-weight: bold;
  /* margin: auto; */
}
.hide {
  display: none;
}

.App {
  text-align: center;
}

.mobile{
  max-height: 844px;
  max-width: 390px;
}

.mobile h1{
  color: red;
}


.tablet{
  max-width: 1200px;
}

.desktop{
  max-width: 1200px;
}

.icon{
  border: solid 1px black;
  border-radius: 50%;
  height: 60%;
  width: 10%;
}

